.container {
  max-height: 650px;
  padding: 15px;
  border: 1px solid var(--Gray);
  border-radius: 12px;
  background-color: var(--White);
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
}

.img {
  margin-left: auto;
  cursor: pointer;
}
