.main-layout {
  /* width: 390px; */
  margin-inline: auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  text-align: center;
}

.marginTop {
  margin-top: 38px;
}

.link {
  display: inline-block;
  color: var(--Black);
  background-color: var(--Primary);
  margin-bottom: 50px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 400;
  padding: 18px 48px;
  box-shadow: 2px 2px 4px 0;
}

.desc {
  text-align: center;
  padding-block: 18px;
  margin-block: 50px;
  color: var(--White);
  background-color: var(--Black);
  .desc-title {
    font-size: 24px;
    font-weight: 700;
  }
  .desc-content {
    font-size: 18px;
    font-weight: 400;
  }
}
