.main-layout {
  width: 390px;
  margin-inline: auto;
  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.main {
  text-align: center;
}

.marginTop {
  margin-top: 38px;
}

.start {
  background-color: var(--Primary);
  margin-bottom: 50px;
}

.desc {
  text-align: center;
  margin: 50px;
  .desc-title {
    font-size: 24px;
    font-weight: 700;
  }
  .desc-content {
    font-size: 18px;
    font-weight: 400;
  }
}

